.New {
  .Edit__header {
    display: flex;
    align-items: center;

    h2 {
      font-weight: normal;
    }

    .Button.-delete {
      margin-left: auto;
      color: $red;

    }
  }

  .Form {
    margin-top: 21px;
    input, textarea {
      padding: .375rem .75rem;
      border: 1px solid #cfcfcf;
      border-radius: 4px;
    }

    .Form__Group {
      margin-bottom: 20px;

      .InputLabel {
        display: flex;
        align-items: center;
      }
      .InputLabel__text {
        display: inline-block;
        width: 96px;

        text-align: right;
      }

      .InputLabel__field {
        padding-left: 16px;

        .Radio {
          list-style: none;
        }

        .InputLabel__fieldCaption {
          font-size: 12px;
          color: #666666;
        }
      }
    }

    .Button_group {
      text-align: center;

      .Button {
        width: 200px;
      }
    }
  }

}
